.custom-file-input {
    z-index: 9;
    cursor: pointer;
  }

.pointer {
    cursor: pointer;
}
.drt{
    margin-top: 40px;
}
.drt-heading{
    font-size: 50px;
    margin-bottom: 20px;
}
.cont{
    display: flex;
    width: 100%;
}
.form-container{
    width: 500px;
    margin-top: 40px;
    margin-left: 150px;
}
.dropdown-container{
    text-align: center;
}
.input-div{
    display: flex;
    margin: 20px 0px;
}
.input-title{
    font-size: 20px;
    margin: 5px 0px;
    width: 205px;
    text-align: left;
    color: blue;
}
.date-cont{
    display: flex;
    justify-content: space-between;

}
.option-input-div{
    font-size: 30px;
    color: blue;
    text-align: center;
    width: 600px;
}
.active-div{
    font-size: 15px;
    color: black;
    background-color: rgb(0, 255, 255);
    height: 50px;
    border-radius: 5px;
    width: 400px;
    padding: 10px 0px 0px 10px;
}
.inactive-div{
    color: black;
    font-size: 15px;
    width: 400px;
    border-radius: 5px;
    padding: 10px 0px 0px 10px;
    height: 50px;
}
.inactive-div:hover{
    background-color: rgb(155, 255, 255);
}